.sideNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.logo {
    background-color: rgb(192, 21, 152);
    width: 7.5rem;
    margin: 1.5625rem;
}

ul {
    display: flex;
    flex-direction: column;
}
li {
    list-style: none;
}
a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffe;
    background: 0;
    border: 0;
    margin: 0.3rem 0.6rem;
    padding: 0.6rem 0.9rem;
    border-radius: 0.9rem;
    -webkit-border-radius: 0.9rem;
    -moz-border-radius: 0.9rem;
    -ms-border-radius: 0.9rem;
    -o-border-radius: 0.9rem;
    width: 100%;
    text-decoration: none;
}
li a:hover, li a:focus {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.227);
}
li a > span {
    font-size: 1.125rem;
    font-weight: bolder;
    margin-left: 0.6rem;
}

.more {
    position: fixed;
    bottom: 0.1875rem;
}